streamlit
python-dotenv
fastapi
uvicorn
pydantic-settings
python-multipart
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface

faiss-cpu

sentence-transformers
transformers
torch

pypdf

huggingface-hub
